/*-- scss:defaults --*/
@import url(https://fonts.googleapis.com/css?family=Zen+Maru+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
// fonts
$font-family-sans-serif: "Noto Sans JP", sans-serif !default;
$font-family-monospace: "Fira Mono", monospace !default;
// colors
$body_bg: #ffffff !default;
$boy-color: #272822 !default;
$link-color: #DA5019 !default;
// headings
$presentation-heading-font: "Zen Maru Gothic", sans-serif !default;
$presentation-heading-color: #DA5019 !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;
$h4-font-size: 1.0em !default;
// code blocks
$code-block-border-color: #93a1a1 !default;
$code-color: #DA5019;
