/*-- scss:defaults --*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Code&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fraunces&display=swap);
// fonts
$font-family-sans-serif: "Noto Sans JP", sans-serif !default;
$font-family-monospace: "Fira Code", monospace !default;
// colors
$body_bg: #ffffff !default;
$boy-color: #272822 !default;
$link-color: #B75C9D !default;
// headings
$presentation-heading-font: "Noto Sans JP", sans-serif !default;
$presentation-heading-color: #5D639E !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;
$h4-font-size: 1.0em !default;
// code blocks
$code-block-border-color: #93a1a1 !default;
$code-color: #5D639E;
